<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>temp.directory</param-name>
		<param-value>/www.public/apir/temp</param-value>
	</context-param>
	<filter>
		<filter-name>HibernateSessionFilter</filter-name>
		<filter-class>
			au.com.apir.web.HibernateSessionFilter
		</filter-class>
	</filter>
	<filter>
		<filter-name>SessionMonitorFilter</filter-name>
		<filter-class>
			au.com.apir.web.SessionMonitorFilter
		</filter-class>
	</filter>
	<filter>
		<filter-name>WebUserAccessMonitorFilter</filter-name>
		<filter-class>
			au.com.apir.web.WebUserAccessMonitorFilter
		</filter-class>
	</filter>
	<filter>
		<filter-name>WebserviceUsageMonitorFilter</filter-name>
		<filter-class>
			au.com.apir.web.WebserviceUsageMonitorFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HibernateSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
   	<filter>
   	<filter-name>MultipartFilter</filter-name>
    	<filter-class>com.oreilly.servlet.MultipartFilter</filter-class>
    	<init-param>
      		<param-name>uploadDir</param-name>
      		<param-value>/www.public/apir/temp</param-value>
    	</init-param>
  	</filter>
  	<filter-mapping>
    	<filter-name>MultipartFilter</filter-name>
    	<url-pattern>*.jsp</url-pattern>
  	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionMonitorFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WebUserAccessMonitorFilter</filter-name>
		<url-pattern>/services/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WebserviceUsageMonitorFilter</filter-name>
		<url-pattern>/services/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AdminServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>brochures</servlet-name>
		<servlet-class>au.com.apir.servlet.FileServlet</servlet-class>
		<init-param>
			<param-name>relative.root.path</param-name>
			<param-value>/www.public/apir/docs/brochures/</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>docs</servlet-name>
		<servlet-class>au.com.apir.servlet.FileServlet</servlet-class>
		<init-param>
			<param-name>relative.root.path</param-name>
			<param-value>/www.public/apir/docs/</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>temp</servlet-name>
		<servlet-class>au.com.apir.servlet.FileServlet</servlet-class>
		<init-param>
			<param-name>relative.root.path</param-name>
			<param-value>/www.public/apir/temp/</param-value>
		</init-param>
	</servlet>
	
 <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>au.com.apir.rest</param-value>
    </init-param>
    <!-- JSON POJO Mapping - Now using Jersey 2.  If needed try http://stackoverflow.com/questions/17568469/jersey-2-0-equivalent-to-pojomappingfeature -->
	<!-- init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
	</init-param -->
	<!-- For this gzip filter see https://jersey.java.net/documentation/latest/filters-and-interceptors.html#d0e9712 -->
	<!-- init-param>
		<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
		<param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
	</init-param -->
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
	
	
	
	
	
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>brochures</servlet-name>
		<url-pattern>/brochures/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>docs</servlet-name>
		<url-pattern>/docs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>temp</servlet-name>
		<url-pattern>/temp/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>csv</extension>
		<mime-type>text/csv</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>newHomePage.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/newHomePage.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<security-constraint>
		<display-name>HongKongApi</display-name>
		<web-resource-collection>
			<web-resource-name>HongKongApi</web-resource-name>
			<url-pattern>/apir/rest/hk/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>HongKongApi</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>LegalEntityIdentifierApi</display-name>
		<web-resource-collection>
			<web-resource-name>LegalEntityIdentifierApi</web-resource-name>
			<url-pattern>/apir/rest/lei/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>LegalEntityIdentifierApi</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>AdminService</display-name>
		<web-resource-collection>
			<web-resource-name>AdminService</web-resource-name>
			<url-pattern>/services/AdminService</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>Administrators</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Version</display-name>
		<web-resource-collection>
			<web-resource-name>Version</web-resource-name>
			<url-pattern>/services/Version</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>Administrators</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>SurchargeRegister</display-name>
		<web-resource-collection>
			<web-resource-name>SurchargeRegister</web-resource-name>
			<url-pattern>/services/SurchargeRegister</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>SurchargeRegister</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>ManagedFundService</display-name>
		<web-resource-collection>
			<web-resource-name>ManagedFundService</web-resource-name>
			<url-pattern>/services/ManagedFundService</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>ManagedFund</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>SuperannuationDataSerivceBasicPackage</display-name>
		<web-resource-collection>
			<web-resource-name>SuperannuationDataSerivceBasicPackage</web-resource-name>
			<url-pattern>/services/SuperannuationBasicPackage</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>SuperBasic</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>SuperannuationDataSerivcePremiumPackage</display-name>
		<web-resource-collection>
			<web-resource-name>SuperannuationDataSerivcePremiumPackage</web-resource-name>
			<url-pattern>/services/SuperannuationPremiumPackage</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>SuperPremium</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>ManagedFundDataSerivceBasicPackage</display-name>
		<web-resource-collection>
			<web-resource-name>ManagedFundDataSerivceBasicPackage</web-resource-name>
			<url-pattern>/services/ManagedFundBasicPackage</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>MFBasic</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>DomaCom</display-name>
		<web-resource-collection>
			<web-resource-name>DomaCom</web-resource-name>
			<url-pattern>/services/DomaComRegistration</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>DomaCom</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>ManagedFundDataSerivcePremiumPackage</display-name>
		<web-resource-collection>
			<web-resource-name>ManagedFundDataSerivcePremiumPackage</web-resource-name>
			<url-pattern>/services/ManagedFundPremiumPackage</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>MFPremium</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>LoginTest</display-name>
		<web-resource-collection>
			<web-resource-name>Restricted</web-resource-name>
			<url-pattern>/prototype/restricted/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
				These are the roles who have access
			</description>
			<role-name>Administrators</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>RapidRealm</realm-name>
		<!--  
		<form-login-config>
			<form-login-page>
				/prototype/login/login.jsp
			</form-login-page>
			<form-error-page>
				/prototype/login/error.jsp
			</form-error-page>
		</form-login-config>
		-->
	</login-config>
	<security-role>
		<description>Hong Kong REST API</description>
		<role-name>HongKongApi</role-name>
	</security-role>
	<security-role>
		<description>Legal Entity Identifier REST API</description>
		<role-name>LegalEntityIdentifierApi</role-name>
	</security-role>
	<security-role>
		<description>DomaCom</description>
		<role-name>DomaCom</role-name>
	</security-role>
	<security-role>
		<description>Managed Fund Web Service</description>
		<role-name>ManagedFund</role-name>
	</security-role>
	<security-role>
		<description>Surcharge Register</description>
		<role-name>SurchargeRegister</role-name>
	</security-role>
	<security-role>
		<description>Managed Fund Data Service Basic Package</description>
		<role-name>MFBasic</role-name>
	</security-role>
	<security-role>
		<description>Managed Fund Data Service Premium Package</description>
		<role-name>MFPremium</role-name>
	</security-role>
	<security-role>
		<description>Superannuation Data Service Basic Package</description>
		<role-name>SuperBasic</role-name>
	</security-role>
	<security-role>
		<description>Superannuation Data Service Premium Package</description>
		<role-name>SuperPremium</role-name>
	</security-role>
	<security-role>
		<description>Administrator Role</description>
		<role-name>Administrators</role-name>
	</security-role>
	<resource-ref>
		<res-ref-name>mail/MailSession</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
